Repository FerretDB/dance, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FerretDB/specops, @FerretDB/leads, @b1ron, @AlekSi

remove all failures for now
  tests/dbaas_core.yml
Owners: @b1ron

wip
  internal/jstest/jstest.go
Owners: @FerretDB/leads, @FerretDB/specops

fix testName property for jsTestName function
  internal/jstest/jstest.go
Owners: @FerretDB/leads, @FerretDB/specops

Add all files for the dbaas_core suite (#473)
  internal/jstest/jstest.go
  tests/dbaas_core.yml
Owners: @FerretDB/leads, @FerretDB/specops, @b1ron

add a comment
  internal/jstest/jstest.go
Owners: @FerretDB/leads, @FerretDB/specops

remove get_more.js from fail
  tests/mongo.yml
Owners: @b1ron

fix
  tests/mongo.yml
Owners: @b1ron

add comment
  tests/mongo.yml
Owners: @b1ron

add comment
  tests/mongo.yml
Owners: @b1ron

fix
  tests/mongo-go-driver.yml
Owners: @b1ron

Fix Go driver config (#475)
  tests/mongo-go-driver.yml
Owners: @b1ron

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Order is important; the last matching pattern takes the most precedence.

*                    @FerretDB/specops

/cmd/                @FerretDB/leads @FerretDB/specops
/internal/           @FerretDB/leads @FerretDB/specops

/tests/              @b1ron
/tests/diff/         @FerretDB/leads
/tests/mongo-tools/  @FerretDB/leads

/build/              @AlekSi
go.mod               @AlekSi
go.sum               @AlekSi
