Repository FerretDB/dance, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FerretDB/specops, @FerretDB/leads, @b1ron, @AlekSi

Fix Go driver config (#395)
  tests/mongo-go-driver.yml
Owners: @b1ron

add comment to clarify what files we exclude
  tests/dbaas_core.yml
Owners: @b1ron

fix timeseries_lookup.js
  tests/dbaas_core.yml
Owners: @b1ron

more
  tests/dbaas_core.yml
Owners: @b1ron

Bump deps (#394)
  tools/go.mod
  tools/go.sum
Owners: @AlekSi

add hook for runner
  cmd/dance/main.go
Owners: @FerretDB/leads, @FerretDB/specops

fixes
  tests/dbaas_core.yml
Owners: @b1ron

fix prefix
  tests/dbaas_core.yml
Owners: @b1ron

fix dir
  internal/service/service.go
Owners: @FerretDB/leads, @FerretDB/specops

ignore files in result for now
  tests/dbaas_core.yml
Owners: @b1ron

fix stats
  tests/dbaas_core.yml
Owners: @b1ron

add some tests to fail
  tests/dbaas_core.yml
Owners: @b1ron

remove newline
  tests/dbaas_core.yml
Owners: @b1ron

fix mongo stats
  tests/dbaas_core.yml
Owners: @b1ron

rename runner
  cmd/dance/main.go
  internal/srvtest/srvtest.go
Owners: @FerretDB/leads, @FerretDB/specops

rm old dir
  internal/service/service.go
Owners: @FerretDB/leads, @FerretDB/specops

fix runner
  tests/dbaas_core.yml
Owners: @b1ron

comment
  tests/dbaas_core.yml
Owners: @b1ron

package comment and lint
  internal/srvtest/srvtest.go
Owners: @FerretDB/leads, @FerretDB/specops

fix core suite and add exclude_args field
  tests/dbaas_core.yml
Owners: @b1ron

add ExcludeArgs to ConfigYAML struct
  internal/yaml.go
Owners: @FerretDB/leads, @FerretDB/specops

add ExcludeArgs to Config struct
  internal/config.go
Owners: @FerretDB/leads, @FerretDB/specops

remove excluded from filesM and leave unsorted
  internal/jstest/jstest.go
Owners: @FerretDB/leads, @FerretDB/specops

fix
  cmd/dance/main.go
Owners: @FerretDB/leads, @FerretDB/specops

match exclusions
  internal/srvtest/srvtest.go
Owners: @FerretDB/leads, @FerretDB/specops

rename back to service
  internal/service/service.go
  tests/dbaas_core.yml
Owners: @FerretDB/leads, @FerretDB/specops, @b1ron

fix hook
  cmd/dance/main.go
Owners: @FerretDB/leads, @FerretDB/specops

fix import
  cmd/dance/main.go
Owners: @FerretDB/leads, @FerretDB/specops

fix runner
  tests/dbaas_core.yml
Owners: @b1ron

add to CI
  .github/workflows/dance.yml
Owners: @FerretDB/specops

fix config
  tests/dbaas_core.yml
Owners: @b1ron

remove
  .github/workflows/dance.yml
Owners: @FerretDB/specops

fix
  .github/workflows/dance.yml
Owners: @FerretDB/specops

reset stats
  tests/dbaas_core.yml
Owners: @b1ron

fix config a bit
  tests/dbaas_core.yml
Owners: @b1ron

last fix
  tests/dbaas_core.yml
Owners: @b1ron

refactor a bit
  internal/service/service.go
Owners: @FerretDB/leads, @FerretDB/specops

add failures and explode_for_sort_fetch.js to ignore
  tests/dbaas_core.yml
Owners: @b1ron

add stats for mongo
  tests/dbaas_core.yml
Owners: @b1ron

add comment
  tests/dbaas_core.yml
Owners: @b1ron

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Order is important; the last matching pattern takes the most precedence.

*                    @FerretDB/specops

/cmd/                @FerretDB/leads @FerretDB/specops
/internal/           @FerretDB/leads @FerretDB/specops

/tests/              @b1ron
/tests/diff/         @FerretDB/leads
/tests/mongo-tools/  @FerretDB/leads

/build/              @AlekSi
go.mod               @AlekSi
go.sum               @AlekSi
