Repository FerretDB/dance, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FerretDB/specops, @FerretDB/leads, @b1ron, @AlekSi

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Order is important; the last matching pattern takes the most precedence.

*                    @FerretDB/specops

/cmd/                @FerretDB/leads @FerretDB/specops
/internal/           @FerretDB/leads @FerretDB/specops

/tests/              @b1ron
/tests/diff/         @FerretDB/leads
/tests/mongo-tools/  @FerretDB/leads

/build/              @AlekSi
go.mod               @AlekSi
go.sum               @AlekSi

add runner to CI
  .github/workflows/dance.yml
Owners: @FerretDB/specops

fix
  tests/dbaas_core.yml
Owners: @b1ron

remove for now
  .github/workflows/dance.yml
Owners: @FerretDB/specops

done
  tests/dbaas_core.yml
Owners: @b1ron

Add runner for service tests (#396)
  cmd/dance/main.go
  internal/config.go
  internal/jstest/jstest.go
  internal/service/service.go
  internal/yaml.go
  tests/dbaas_core.yml
Owners: @FerretDB/leads, @FerretDB/specops, @b1ron

Make Docker Compose flags compatible
  Taskfile.yaml
  go.mod
  go.sum
Owners: @FerretDB/specops, @AlekSi

Make Docker Compose flags compatible (#397)
  Taskfile.yaml
  go.mod
  go.sum
Owners: @FerretDB/specops, @AlekSi

fix config
  tests/mongo-go-driver.yml
Owners: @b1ron

fix mongo stats
  tests/mongo-go-driver.yml
Owners: @b1ron

Fix Go driver configuration (#403)
  tests/mongo-go-driver.yml
Owners: @b1ron

Diff for scale
  tests/diff.yml
  tests/diff/dbstats_scale_test.go
Owners: @b1ron, @FerretDB/leads

Diff for scale
  tests/diff/dbstats_scale_test.go
Owners: @FerretDB/leads

lint
  tests/diff/helpers.go
Owners: @FerretDB/leads

wip
  tests/diff.yml
Owners: @b1ron

wip
  tests/diff.yml
Owners: @b1ron

make CI failing
  Taskfile.yaml
Owners: @FerretDB/specops

add compression
  .github/workflows/dance.yml
Owners: @FerretDB/specops

fix
  .github/workflows/dance.yml
Owners: @FerretDB/specops

Make dance not failing
  Taskfile.yaml
Owners: @FerretDB/specops

Compress CI artifacts (#408)
  .github/workflows/dance.yml
Owners: @FerretDB/specops

fix stats
  tests/mongo-go-driver.yml
Owners: @b1ron

Driver Go driver configuration (#412)
  tests/mongo-go-driver.yml
Owners: @b1ron

wip
  tests/diff.yml
Owners: @b1ron

wip
  tests/diff.yml
Owners: @b1ron

wip
  tests/diff.yml
  tests/diff/dbstats_scale_test.go
Owners: @b1ron, @FerretDB/leads

correct diff values
  tests/diff.yml
Owners: @b1ron

remove ExcludeArgs
  internal/config.go
  internal/yaml.go
Owners: @FerretDB/leads, @FerretDB/specops

use zglob package for ** globs and ! exclusion experiment
  internal/jstest/jstest.go
Owners: @FerretDB/leads, @FerretDB/specops

fix runner
  internal/service/service.go
Owners: @FerretDB/leads, @FerretDB/specops

fix runners
  cmd/dance/main.go
Owners: @FerretDB/leads, @FerretDB/specops

add link to go-zglob
  internal/jstest/jstest.go
Owners: @FerretDB/leads, @FerretDB/specops

fixes
  internal/jstest/jstest.go
Owners: @FerretDB/leads, @FerretDB/specops

add dbaas_core.yml
  tests/dbaas_core.yml
Owners: @b1ron

Add diff tests for `scale` param in `dbStats` (#407)
  tests/diff.yml
  tests/diff/dbstats_scale_test.go
  tests/diff/helpers.go
Owners: @b1ron, @FerretDB/leads

wip
  tests/diff.yml
  tests/diff/names_test.go
Owners: @b1ron, @FerretDB/leads

modules
  go.mod
  go.sum
Owners: @AlekSi

fix
  tests/mongo.yml
Owners: @b1ron

add comment
  tests/dbaas_core.yml
  tests/mongo.yml
Owners: @b1ron

stats
  tests/mongo.yml
Owners: @b1ron

stats
  tests/mongo.yml
Owners: @b1ron
