Repository FerretDB/dance, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FerretDB/specops, @FerretDB/leads, @b1ron, @AlekSi

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Order is important; the last matching pattern takes the most precedence.

*                    @FerretDB/specops

/cmd/                @FerretDB/leads @FerretDB/specops
/internal/           @FerretDB/leads @FerretDB/specops

/tests/              @b1ron
/tests/diff/         @FerretDB/leads
/tests/mongo-tools/  @FerretDB/leads

/build/              @AlekSi
go.mod               @AlekSi
go.sum               @AlekSi

add failures
  tests/mongo.yml
Owners: @b1ron

add to failures
  tests/mongo.yml
Owners: @b1ron

failures are due to 1855
  tests/mongo.yml
Owners: @b1ron

add failures to correct issue
  tests/mongo.yml
Owners: @b1ron

Fix `mongo` configuration (#418)
  tests/mongo.yml
Owners: @b1ron

add IndexExamples to pass
  tests/mongo-go-driver.yml
Owners: @b1ron

add to fail
  tests/mongo-go-driver.yml
Owners: @b1ron

test for CI
  tests/mongo-go-driver.yml
Owners: @b1ron

ignore IndexExamples for CI
  tests/mongo-go-driver.yml
Owners: @b1ron

use std
  internal/jstest/jstest.go
Owners: @FerretDB/leads, @FerretDB/specops

remove comments about zglob
  tests/dbaas_core.yml
  tests/mongo.yml
Owners: @b1ron

tidy modules
  go.mod
  go.sum
Owners: @AlekSi

Fix Go driver config (#420)
  tests/mongo-go-driver.yml
Owners: @b1ron

Allow uppercase Latin letters in database names (#417)
  tests/diff.yml
  tests/diff/names_test.go
Owners: @b1ron, @FerretDB/leads

lint
  internal/jstest/jstest.go
Owners: @FerretDB/leads, @FerretDB/specops

remove duplicate
  tests/mongo.yml
Owners: @b1ron

stats still not fixed
  tests/dbaas_core.yml
Owners: @b1ron

remove duplicates
  tests/mongo.yml
Owners: @b1ron

whitespace
  tests/mongo.yml
Owners: @b1ron

stats
  tests/mongo.yml
Owners: @b1ron

fix mongo stats
  tests/mongo.yml
Owners: @b1ron

revert unnecessary file changes
  tests/mongo.yml
Owners: @b1ron

remove ignores
  tests/mongo.yml
Owners: @b1ron

try
  internal/jstest/jstest.go
Owners: @FerretDB/leads, @FerretDB/specops

lint
  internal/jstest/jstest.go
Owners: @FerretDB/leads, @FerretDB/specops

use CutPrefix
  internal/jstest/jstest.go
Owners: @FerretDB/leads, @FerretDB/specops

Improve service runner (#413)
  cmd/dance/main.go
  internal/config.go
  internal/jstest/jstest.go
  internal/service/service.go
  internal/yaml.go
  tests/dbaas_core.yml
  tests/mongo.yml
Owners: @FerretDB/leads, @FerretDB/specops, @b1ron

Add renameCollection cases
  tests/diff.yml
  tests/diff/names_test.go
Owners: @b1ron, @FerretDB/leads

wip
  tests/diff/names_test.go
Owners: @FerretDB/leads

Merge `no ci` label into `not ready`
  .github/mergify.yml
  .github/workflows/conform-pr.yml
  .github/workflows/dance.yml
  .github/workflows/linters.yml
Owners: @FerretDB/specops

wip
  tests/diff.yml
Owners: @b1ron

Bump deps
  build/deps/markdownlint.Dockerfile
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Owners: @AlekSi

Lintr
  .textlintignore
  CODE_OF_CONDUCT.md
  Taskfile.yaml
  tools/go.mod
  tools/go.sum
  tools/tools.go
Owners: @FerretDB/specops, @AlekSi

Bump deps (#430)
  .textlintignore
  CODE_OF_CONDUCT.md
  Taskfile.yaml
  build/deps/markdownlint.Dockerfile
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
  tools/tools.go
Owners: @FerretDB/specops, @AlekSi

Bump dep
  go.mod
  go.sum
Owners: @AlekSi

wip
  tests/diff.yml
  tests/diff/names_test.go
Owners: @b1ron, @FerretDB/leads

wip
  tests/diff.yml
  tests/diff/names_test.go
Owners: @b1ron, @FerretDB/leads

wip
  tests/diff/names_test.go
Owners: @FerretDB/leads

Add `-race` flag when possible
  internal/gotest/gotest.go
  tests/diff.yml
  tests/mongo-tools.yml
Owners: @FerretDB/leads, @FerretDB/specops, @b1ron

Remove extra flags
  tests/mongo-tools.yml
Owners: @b1ron
