Repository FerretDB/dance, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FerretDB/specops, @FerretDB/leads, @b1ron, @AlekSi

Update .github/workflows/dance.yml
  .github/workflows/dance.yml
Owners: @FerretDB/specops

Update internal/ycsb/ycsb.go
  internal/ycsb/ycsb.go
Owners: @FerretDB/leads, @FerretDB/specops

Update internal/ycsb/ycsb.go
  internal/ycsb/ycsb.go
Owners: @FerretDB/leads, @FerretDB/specops

Add `ycsb` runner and add to CI (#449)
  .github/workflows/dance.yml
  cmd/dance/main.go
  internal/config.go
  internal/ycsb/ycsb.go
  tests/ycsb/workloads/workload_template
  tests/ycsb/workloads/workloada
  tests/ycsb/workloads/workloadb
  tests/ycsb/workloads/workloadc
  tests/ycsb/workloads/workloadd
  tests/ycsb/workloads/workloade
  tests/ycsb/workloads/workloadf
  tests/ycsb1.yml
  tests/ycsb2.yml
Owners: @FerretDB/specops, @FerretDB/leads, @b1ron

Stream go-ycsb output in verbose mode
  .github/workflows/dance.yml
  cmd/dance/main.go
  internal/ycsb/ycsb.go
  tests/ycsb-workloada.yml
  tests/ycsb-workloadc.yml
  tests/ycsb/workloads/workload_template
  tests/ycsb/workloads/workloada
  tests/ycsb/workloads/workloadb
  tests/ycsb/workloads/workloadc
  tests/ycsb/workloads/workloadd
  tests/ycsb/workloads/workloade
  tests/ycsb/workloads/workloadf
Owners: @FerretDB/specops, @FerretDB/leads, @b1ron

Actually, always stream output
  cmd/dance/main.go
  internal/command/command.go
  internal/ycsb/ycsb.go
Owners: @FerretDB/leads, @FerretDB/specops

Stream go-ycsb output (#464)
  .github/workflows/dance.yml
  internal/command/command.go
  internal/ycsb/ycsb.go
  tests/ycsb-workloada.yml
  tests/ycsb-workloadc.yml
  tests/ycsb/workloads/workload_template
  tests/ycsb/workloads/workloada
  tests/ycsb/workloads/workloadb
  tests/ycsb/workloads/workloadc
  tests/ycsb/workloads/workloadd
  tests/ycsb/workloads/workloade
  tests/ycsb/workloads/workloadf
Owners: @FerretDB/specops, @FerretDB/leads, @b1ron

more
  tests/mongo.yml
Owners: @b1ron

match.js
  tests/mongo.yml
Owners: @b1ron

add some to fail with links
  tests/mongo.yml
Owners: @b1ron

remove updatea.js and updated.js from fail
  tests/mongo.yml
Owners: @b1ron

remove updatek.js from fail and fix stats
  tests/mongo.yml
Owners: @b1ron

Fix config (#465)
  tests/mongo.yml
Owners: @b1ron

add diff for findandmodify
  tests/diff.yml
  tests/diff/document_validation_test.go
Owners: @b1ron, @FerretDB/leads

add submodule
  .gitmodules
Owners: @FerretDB/specops

wip
  tests/java-example.yml
Owners: @b1ron

try
  .github/workflows/dance.yml
Owners: @FerretDB/specops

hate java
  tests/java-example.yml
Owners: @b1ron

run job on main
  .github/workflows/dance.yml
Owners: @FerretDB/specops

fix stats
  tests/diff.yml
Owners: @b1ron

move submodule up and add a branch
  .gitmodules
Owners: @FerretDB/specops

Add java-example to CI (#467)
  .github/workflows/dance.yml
  .gitmodules
  tests/java-example.yml
Owners: @FerretDB/specops, @b1ron

Add diff for `findandmodify` dollar prefixed field name (#466)
  tests/diff.yml
  tests/diff/document_validation_test.go
Owners: @b1ron, @FerretDB/leads

Bump deps
  .golangci-new.yml
  .golangci.yml
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Owners: @FerretDB/specops, @AlekSi

Bump more
  build/deps/ferretdb-textlint.Dockerfile
Owners: @AlekSi

Bump deps (#471)
  .golangci-new.yml
  .golangci.yml
  build/deps/ferretdb-textlint.Dockerfile
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Owners: @FerretDB/specops, @AlekSi

wip
  tests/dbaas_core.yml
Owners: @b1ron

more
  tests/dbaas_core.yml
Owners: @b1ron

add all
  tests/dbaas_core.yml
Owners: @b1ron

add comment about txns
  tests/dbaas_core.yml
Owners: @b1ron

remove comment because it's confusing
  tests/dbaas_core.yml
Owners: @b1ron

add mongodb stats
  tests/dbaas_core.yml
Owners: @b1ron

fix ferretdb stats
  tests/dbaas_core.yml
Owners: @b1ron

run on CI to verify stats
  .github/workflows/dance.yml
Owners: @FerretDB/specops

revert
  .github/workflows/dance.yml
Owners: @FerretDB/specops

remove dupe
  tests/dbaas_core.yml
Owners: @b1ron

remove another dupe
  tests/dbaas_core.yml
Owners: @b1ron

fix comment
  tests/dbaas_core.yml
Owners: @b1ron

ignore all txns and do not include individual files
  tests/dbaas_core.yml
Owners: @b1ron

log the total number of tests that will be ran
  internal/jstest/jstest.go
Owners: @FerretDB/leads, @FerretDB/specops

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Order is important; the last matching pattern takes the most precedence.

*                    @FerretDB/specops

/cmd/                @FerretDB/leads @FerretDB/specops
/internal/           @FerretDB/leads @FerretDB/specops

/tests/              @b1ron
/tests/diff/         @FerretDB/leads
/tests/mongo-tools/  @FerretDB/leads

/build/              @AlekSi
go.mod               @AlekSi
go.sum               @AlekSi
