Repository FerretDB/dance, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FerretDB/specops, @FerretDB/leads, @b1ron, @AlekSi

stats
  tests/mongo-go-driver.yml
Owners: @b1ron

fix stats
  tests/mongo-go-driver.yml
Owners: @b1ron

Add `-race` flag when possible (#435)
  internal/gotest/gotest.go
  tests/diff.yml
  tests/mongo-tools.yml
Owners: @FerretDB/leads, @FerretDB/specops, @b1ron

Add diff tests for `renameCollection` command (#422)
  tests/diff.yml
  tests/diff/names_test.go
Owners: @b1ron, @FerretDB/leads

Fix Go driver config (#436)
  tests/mongo-go-driver.yml
Owners: @b1ron

fix stats
  tests/mongo-go-driver.yml
Owners: @b1ron

wip
  .gitmodules
  internal/rest/rest.go
  internal/rest/rest_test.go
Owners: @FerretDB/specops, @FerretDB/leads

test workflow
  .github/workflows/dance.yml
  .gitmodules
Owners: @FerretDB/specops

trigger workflow
  .github/workflows/dance.yml
Owners: @FerretDB/specops

comment out schedule to be safe
  .github/workflows/dance.yml
Owners: @FerretDB/specops

use a new job
  .github/workflows/dance.yml
Owners: @FerretDB/specops

remove from matrix
  .github/workflows/dance.yml
Owners: @FerretDB/specops

use a new job
  .github/workflows/dance.yml
Owners: @FerretDB/specops

fix indentation
  .github/workflows/dance.yml
Owners: @FerretDB/specops

remove submodule
  .gitmodules
Owners: @FerretDB/specops

revert branches back to main
  .github/workflows/dance.yml
Owners: @FerretDB/specops

rm rest
  internal/rest/rest.go
  internal/rest/rest_test.go
Owners: @FerretDB/leads, @FerretDB/specops

ignore TestHandshakeProse and skips for GODRIVER-2852
  tests/mongo-go-driver.yml
Owners: @b1ron

fix stats
  tests/mongo-go-driver.yml
Owners: @b1ron

add new runner
  internal/command/command.go
Owners: @FerretDB/leads, @FerretDB/specops

hook
  cmd/dance/main.go
Owners: @FerretDB/leads, @FerretDB/specops

add yaml file
  tests/dotnet.yml
Owners: @b1ron

fix up Run comment
  internal/command/command.go
Owners: @FerretDB/leads, @FerretDB/specops

lint
  internal/command/command.go
Owners: @FerretDB/leads, @FerretDB/specops

replace job for test
  .github/workflows/dance.yml
Owners: @FerretDB/specops

test on local branch
  .github/workflows/dance.yml
Owners: @FerretDB/specops

fix comment
  internal/command/command.go
Owners: @FerretDB/leads, @FerretDB/specops

fixes
  internal/command/command.go
Owners: @FerretDB/leads, @FerretDB/specops

revert branches to main
  .github/workflows/dance.yml
Owners: @FerretDB/specops

fixes
  internal/command/command.go
  tests/dotnet-example.yml
Owners: @FerretDB/leads, @FerretDB/specops, @b1ron

fix test name
  .github/workflows/dance.yml
Owners: @FerretDB/specops

remove restore
  tests/dotnet-example.yml
Owners: @b1ron

add space
  tests/dotnet-example.yml
Owners: @b1ron

wip
  Taskfile.yaml
  build/deps/ycsb.Dockerfile
  docker-compose.yml
Owners: @FerretDB/specops, @AlekSi

wip
  internal/ycsb/ycsb.go
  tests/ycsb.yml
Owners: @FerretDB/leads, @FerretDB/specops, @b1ron

fix runner and remove task
  Taskfile.yaml
  internal/ycsb/ycsb.go
Owners: @FerretDB/specops, @FerretDB/leads

add hook
  cmd/dance/main.go
Owners: @FerretDB/leads, @FerretDB/specops

assume binary exists
  internal/ycsb/ycsb.go
Owners: @FerretDB/leads, @FerretDB/specops

rm stuff
  build/deps/ycsb.Dockerfile
  docker-compose.yml
Owners: @AlekSi, @FerretDB/specops

fixes
  internal/ycsb/ycsb.go
  tests/ycsb.yml
Owners: @FerretDB/leads, @FerretDB/specops, @b1ron

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Order is important; the last matching pattern takes the most precedence.

*                    @FerretDB/specops

/cmd/                @FerretDB/leads @FerretDB/specops
/internal/           @FerretDB/leads @FerretDB/specops

/tests/              @b1ron
/tests/diff/         @FerretDB/leads
/tests/mongo-tools/  @FerretDB/leads

/build/              @AlekSi
go.mod               @AlekSi
go.sum               @AlekSi
