Repository FerretDB/dance, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FerretDB/specops, @FerretDB/leads, @b1ron, @AlekSi

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Order is important; the last matching pattern takes the most precedence.

*                    @FerretDB/specops

/cmd/                @FerretDB/leads @FerretDB/specops
/internal/           @FerretDB/leads @FerretDB/specops

/tests/              @b1ron
/tests/diff/         @FerretDB/leads
/tests/mongo-tools/  @FerretDB/leads

/build/              @AlekSi
go.mod               @AlekSi
go.sum               @AlekSi

add to CI
  .github/workflows/dance.yml
Owners: @FerretDB/specops

revert to main branch
  .github/workflows/dance.yml
Owners: @FerretDB/specops

rename function and add TODOs
  internal/ycsb/ycsb.go
Owners: @FerretDB/leads, @FerretDB/specops

typo and move TODO
  internal/ycsb/ycsb.go
Owners: @FerretDB/leads, @FerretDB/specops

fixes
  internal/ycsb/ycsb.go
Owners: @FerretDB/leads, @FerretDB/specops

override properties and add a run phase
  internal/ycsb/ycsb.go
Owners: @FerretDB/leads, @FerretDB/specops

comment
  tests/ycsb.yml
Owners: @b1ron

tidy
  internal/ycsb/ycsb.go
Owners: @FerretDB/leads, @FerretDB/specops

comment
  tests/ycsb.yml
Owners: @b1ron

clean up
  internal/ycsb/ycsb.go
Owners: @FerretDB/leads, @FerretDB/specops

add more
  tests/mongo.yml
Owners: @b1ron

add workloads dir
  tests/ycsb/workloads/minio
  tests/ycsb/workloads/workload_template
  tests/ycsb/workloads/workloada
  tests/ycsb/workloads/workloadb
  tests/ycsb/workloads/workloadc
  tests/ycsb/workloads/workloadd
  tests/ycsb/workloads/workloade
  tests/ycsb/workloads/workloadf
Owners: @b1ron

tweak
  internal/ycsb/ycsb.go
Owners: @FerretDB/leads, @FerretDB/specops

dupe
  tests/mongo.yml
Owners: @b1ron

Update submodule configuration
  .gitmodules
Owners: @FerretDB/specops

more
  tests/mongo.yml
Owners: @b1ron

Merge `jstest` and `service` runners
  .github/workflows/dance.yml
  .gitmodules
  cmd/dance/main.go
  internal/command/command.go
  internal/config.go
  internal/gotest/gotest.go
  internal/jstest/jstest.go
  internal/service/service.go
  internal/yaml.go
  tests/dbaas_core.yml
  tests/mongo-go-driver.yml
  tests/mongo.yml
Owners: @FerretDB/specops, @FerretDB/leads, @b1ron

more
  tests/mongo.yml
Owners: @b1ron

remove push2.js because it creates an array with 7M elements
  tests/mongo.yml
Owners: @b1ron

linter
  internal/config.go
Owners: @FerretDB/leads, @FerretDB/specops

Add dotnet-example job to CI (#442)
  .github/workflows/dance.yml
  .gitmodules
  cmd/dance/main.go
  internal/command/command.go
  internal/config.go
  internal/gotest/gotest.go
  internal/jstest/jstest.go
  internal/service/service.go
  internal/yaml.go
  tests/dbaas_core.yml
  tests/dotnet-example.yml
  tests/mongo-go-driver.yml
  tests/mongo.yml
Owners: @FerretDB/specops, @FerretDB/leads, @b1ron

Bump deps
  build/deps/ferretdb-textlint.Dockerfile
  build/deps/mongo.Dockerfile
  build/deps/mongo6.Dockerfile
  build/deps/postgres.Dockerfile
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Owners: @AlekSi

Add `go-ycsb`
  tools/go.mod
  tools/go.sum
  tools/tools.go
Owners: @AlekSi, @FerretDB/specops

add hook
  internal/config.go
Owners: @FerretDB/leads, @FerretDB/specops

fixes
  cmd/dance/main.go
  internal/ycsb/ycsb.go
Owners: @FerretDB/leads, @FerretDB/specops

Add dotnet-example job to CI (#442)
  .github/workflows/dance.yml
  .gitmodules
  cmd/dance/main.go
  internal/command/command.go
  internal/config.go
  internal/gotest/gotest.go
  internal/jstest/jstest.go
  internal/service/service.go
  internal/yaml.go
  tests/dbaas_core.yml
  tests/dotnet-example.yml
  tests/mongo-go-driver.yml
  tests/mongo.yml
Owners: @FerretDB/specops, @FerretDB/leads, @b1ron

Bump deps (#453)
  build/deps/ferretdb-textlint.Dockerfile
  build/deps/mongo.Dockerfile
  build/deps/mongo6.Dockerfile
  build/deps/postgres.Dockerfile
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
  tools/tools.go
Owners: @AlekSi, @FerretDB/specops

use bin path correctly
  internal/ycsb/ycsb.go
Owners: @FerretDB/leads, @FerretDB/specops

merge into Run and stat for binary in the unlikely event that task/init has not been ran
  internal/ycsb/ycsb.go
Owners: @FerretDB/leads, @FerretDB/specops

lint
  internal/config.go
Owners: @FerretDB/leads, @FerretDB/specops

lowercase comment to be consistent
  internal/config.go
Owners: @FerretDB/leads, @FerretDB/specops

accumulator_js.js requires element type 0x0d (JavaScript)
  tests/mongo.yml
Owners: @b1ron

use filepath.Join and move comment up
  internal/ycsb/ycsb.go
Owners: @FerretDB/leads, @FerretDB/specops

treat non-zero exit code as fail and return the output
  internal/ycsb/ycsb.go
Owners: @FerretDB/leads, @FerretDB/specops

rm minio
  tests/ycsb/workloads/minio
Owners: @b1ron

create 2 workloads
  tests/ycsb1.yml
  tests/ycsb2.yml
Owners: @b1ron

remove phase var
  internal/ycsb/ycsb.go
Owners: @FerretDB/leads, @FerretDB/specops

remove distinct1.js and auth2.js from fail
  tests/mongo.yml
Owners: @b1ron

fix stats and bump
  tests/mongo.yml
Owners: @b1ron

Fix `mongo` configuration (#462)
  tests/mongo.yml
Owners: @b1ron
