Repository FerretDB/dance, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FerretDB/specops, @FerretDB/leads, @b1ron, @AlekSi

non utf-8 collection
  tests/diff/names_test.go
Owners: @FerretDB/leads

more
  tests/mongo.yml
Owners: @b1ron

update diff test for collection name
  tests/diff/names_test.go
Owners: @FerretDB/leads

more and TODOs
  tests/mongo.yml
Owners: @b1ron

Optimize `jstest` runner (#376)
  internal/jstest/jstest.go
Owners: @FerretDB/leads, @FerretDB/specops

add link for arrayfind5.js
  tests/mongo.yml
Owners: @b1ron

update diff count
  tests/diff.yml
  tests/diff/names_test.go
Owners: @b1ron, @FerretDB/leads

Bump Go deps
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Owners: @AlekSi

set working_dir
  docker-compose.yml
Owners: @FerretDB/specops

use a relative path instead
  internal/jstest/jstest.go
Owners: @FerretDB/leads, @FerretDB/specops

make comment better
  internal/jstest/jstest.go
Owners: @FerretDB/leads, @FerretDB/specops

fix stats
  tests/mongo-go-driver.yml
Owners: @b1ron

update utf8 test
  tests/diff/names_test.go
Owners: @FerretDB/leads

update test
  tests/diff.yml
  tests/diff/names_test.go
Owners: @b1ron, @FerretDB/leads

Fix logs collection on failure
  .github/workflows/conform-pr.yml
  .github/workflows/dance.yml
  .github/workflows/linters.yml
  Taskfile.yaml
Owners: @FerretDB/specops

Fix logs collection on failure (#384)
  .github/workflows/conform-pr.yml
  .github/workflows/dance.yml
  .github/workflows/linters.yml
  Taskfile.yaml
Owners: @FerretDB/specops

Update Go driver configuration (#383)
  tests/mongo-go-driver.yml
Owners: @b1ron

Bump Go deps (#381)
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Owners: @AlekSi

add TestCMAPProse to ignore
  tests/mongo-go-driver.yml
Owners: @b1ron

add TestCMAPProse to ignore
  tests/mongo-go-driver.yml
Owners: @b1ron

Fix Go driver for CI (#386)
  tests/mongo-go-driver.yml
Owners: @b1ron

panic on error
  internal/jstest/jstest.go
Owners: @FerretDB/leads, @FerretDB/specops

Add diff tests for collection and database name (#374)
  tests/diff.yml
  tests/diff/names_test.go
Owners: @b1ron, @FerretDB/leads

Allow `jstest` runner to load files using a relative path (#382)
  docker-compose.yml
  internal/jstest/jstest.go
Owners: @FerretDB/specops, @FerretDB/leads

more
  tests/mongo.yml
Owners: @b1ron

fixes and link
  tests/mongo.yml
Owners: @b1ron

add getMore.js to fail
  tests/mongo.yml
Owners: @b1ron

fix mongo stats
  tests/mongo.yml
Owners: @b1ron

Add more jstests (#366)
  tests/mongo.yml
Owners: @b1ron

fix args and stats
  tests/mongo.yml
Owners: @b1ron

Fix `mongo` configuration (#387)
  tests/mongo.yml
Owners: @b1ron

add semaphore
  internal/jstest/jstest.go
Owners: @FerretDB/leads, @FerretDB/specops

lint
  internal/jstest/jstest.go
Owners: @FerretDB/leads, @FerretDB/specops

Limit the number of parallel files for `jstest` runner (#388)
  internal/jstest/jstest.go
Owners: @FerretDB/leads, @FerretDB/specops

Bump deps
  tools/go.mod
  tools/go.sum
Owners: @AlekSi

add unimplemented index options to fail
  tests/mongo-go-driver.yml
Owners: @b1ron

remove duplicates
  tests/mongo-go-driver.yml
Owners: @b1ron

fix stats
  tests/mongo-go-driver.yml
Owners: @b1ron

wip: add runner
  internal/service/service.go
Owners: @FerretDB/leads, @FerretDB/specops

add dbaas_core.yml suite
  tests/dbaas_core.yml
Owners: @b1ron

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Order is important; the last matching pattern takes the most precedence.

*                    @FerretDB/specops

/cmd/                @FerretDB/leads @FerretDB/specops
/internal/           @FerretDB/leads @FerretDB/specops

/tests/              @b1ron
/tests/diff/         @FerretDB/leads
/tests/mongo-tools/  @FerretDB/leads

/build/              @AlekSi
go.mod               @AlekSi
go.sum               @AlekSi
